src/antlr/WACCParserVisitor.java
src/antlr/WACCParser.java
src/antlr/WACCLexer.java
src/antlr/WACCParserBaseVisitor.java
src/front_end/Visitor.java
src/front_end/AST/statement/PrintAST.java
src/front_end/AST/statement/FreeAST.java
src/front_end/AST/statement/IfAST.java
src/front_end/AST/statement/ExitAST.java
src/front_end/AST/statement/ReturnAST.java
src/front_end/AST/statement/ScopingStatementAST.java
src/front_end/AST/statement/ReadAST.java
src/front_end/AST/statement/StatementSequenceAST.java
src/front_end/AST/statement/WhileAST.java
src/front_end/AST/statement/StatementAST.java
src/front_end/AST/statement/PrintlnAST.java
src/front_end/AST/statement/SkipAST.java
src/front_end/AST/statement/BeginAST.java
src/front_end/AST/function/ParamListAST.java
src/front_end/AST/function/ParamAST.java
src/front_end/AST/function/FunctionDeclAST.java
src/front_end/AST/type/TypeAST.java
src/front_end/AST/type/ArrayTypeAST.java
src/front_end/AST/type/PairTypeAST.java
src/front_end/AST/type/PrimTypeAST.java
src/front_end/AST/ProgramAST.java
src/front_end/AST/ASTNode.java
src/front_end/AST/assignment/NewPairRightAST.java
src/front_end/AST/assignment/ArrayLtrRightAST.java
src/front_end/AST/assignment/ExprRightAST.java
src/front_end/AST/assignment/PairElemEnum.java
src/front_end/AST/assignment/IdentLeftAST.java
src/front_end/AST/assignment/FunctionCallRightAST.java
src/front_end/AST/assignment/PairElemLeftAST.java
src/front_end/AST/assignment/AssignmentRightAST.java
src/front_end/AST/assignment/ArrayElemAST.java
src/front_end/AST/assignment/InitializationAST.java
src/front_end/AST/assignment/PairElemAST.java
src/front_end/AST/assignment/PairElemRightAST.java
src/front_end/AST/assignment/AssignmentLeftAST.java
src/front_end/AST/assignment/AssignmentAST.java
src/front_end/AST/expression/BoolExprAST.java
src/front_end/AST/expression/SignedIntExprAST.java
src/front_end/AST/expression/ArrayElemExprAST.java
src/front_end/AST/expression/CharExprAST.java
src/front_end/AST/expression/UnaryOpExprAST.java
src/front_end/AST/expression/StringExprAST.java
src/front_end/AST/expression/BinaryOpExprAST.java
src/front_end/AST/expression/ExpressionAST.java
src/front_end/AST/expression/IdentAST.java
src/front_end/AST/expression/PairLtrExprAST.java
src/front_end/Main.java
src/front_end/types/TYPE.java
src/front_end/types/ARRAY.java
src/front_end/types/FUNCTION.java
src/front_end/types/VARIABLE.java
src/front_end/types/STRING.java
src/front_end/types/IDENTIFIER.java
src/front_end/types/INT.java
src/front_end/types/PAIR.java
src/front_end/types/CHAR.java
src/front_end/types/BOOLEAN.java
src/front_end/types/PARAM.java
src/front_end/CustomErrorHandler.java
src/front_end/SymbolTable.java
src/back_end/operands/InstrOperand.java
src/back_end/operands/immediate/ImmString.java
src/back_end/operands/immediate/ImmInt.java
src/back_end/operands/immediate/ImmValue.java
src/back_end/operands/Operand.java
src/back_end/operands/registers/Register.java
src/back_end/operands/registers/Shift.java
src/back_end/operands/registers/RegisterManager.java
src/back_end/operands/registers/ShiftedRegister.java
src/back_end/operands/registers/OffsetRegister.java
src/back_end/Utils.java
src/back_end/FunctionBody.java
src/back_end/CodeGen.java
src/back_end/instructions/Label.java
src/back_end/instructions/arithmetic/CMP.java
src/back_end/instructions/arithmetic/ADD.java
src/back_end/instructions/arithmetic/RSBS.java
src/back_end/instructions/arithmetic/SUB.java
src/back_end/instructions/arithmetic/ArithmeticInstr.java
src/back_end/instructions/arithmetic/SMULL.java
src/back_end/instructions/Directive.java
src/back_end/instructions/Instruction.java
src/back_end/instructions/store/PUSH.java
src/back_end/instructions/store/STR.java
src/back_end/instructions/store/POP.java
src/back_end/instructions/store/LDR.java
src/back_end/instructions/branch/BL.java
src/back_end/instructions/branch/B.java
src/back_end/instructions/logical/EOR.java
src/back_end/instructions/logical/MOV.java
src/back_end/instructions/logical/TST.java
src/back_end/instructions/logical/AND.java
src/back_end/instructions/logical/OR.java
src/back_end/instructions/logical/LogicalInstr.java
src/back_end/instructions/ArmInstruction.java
src/back_end/instructions/Condition.java
