src/antlr/WACCParserVisitor.java
src/antlr/WACCParser.java
src/antlr/WACCLexer.java
src/antlr/WACCParserBaseVisitor.java
src/Main.java
src/front_end/Visitor.java
src/front_end/AST/function/FunctionDeclAST.java
src/front_end/AST/type/TypeAST.java
src/front_end/AST/type/PrimTypeAST.java
src/front_end/AST/ASTNode.java
src/front_end/AST/assignment/PairElemEnum.java
src/front_end/AST/assignment/IdentLeftAST.java
src/front_end/AST/assignment/PairElemLeftAST.java
src/front_end/AST/assignment/AssignmentRightAST.java
src/front_end/AST/assignment/ArrayElemLeftAST.java
src/front_end/AST/assignment/AssignmentLeftAST.java
src/front_end/AST/assignment/AssignmentAST.java
src/front_end/AST/expression/BoolExprAST.java
src/front_end/AST/expression/ArrayElemExprAST.java
src/front_end/AST/expression/CharExprAST.java
src/front_end/AST/expression/StringExprAST.java
src/front_end/AST/expression/ExpressionAST.java
src/front_end/AST/expression/IdentAST.java
src/front_end/AST/expression/PairLtrExprAST.java
src/front_end/types/TYPE.java
src/front_end/types/ARRAY.java
src/front_end/types/FUNCTION.java
src/front_end/types/VARIABLE.java
src/front_end/types/STRING.java
src/front_end/types/IDENTIFIER.java
src/front_end/types/INT.java
src/front_end/types/PAIR.java
src/front_end/types/CHAR.java
src/front_end/types/BOOLEAN.java
src/front_end/types/PARAM.java
src/front_end/SymbolTable.java
